body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: bisque;
}

header {
    text-decoration: none;
    color: burlywood;
    background-color: brown;
}


div {
    
}